.logo{
    height: 77px;
}

.video-background {
    position: relative;
    overflow: hidden;
  }

  .video-background video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .section-content {
    position: relative;
    z-index: 1;
    padding: 20px;
  }