/* Navbar section */

.logo {
    height: 77px;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    /* margin: 0 30px; */
}

.nav-link:hover {
    color: black;
    text-decoration: none;
    transition: all 0.9s ease;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 875px;
    background-color: rgba(0, 0, 0, 0.4);
}

.video-background {
    position: relative;
    overflow: hidden;
}

.video-background video {
    position: relative;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media screen and (max-width: 380px) {
    .logo {
        height: 50px;
    }
}

/* Navbar section */

/* First section */

@media screen and (max-width: 991px) {
    .centerContent {
        margin-top: -20px !important;
    }
}

.centerContent {
    margin-top: 100px;
}

.section-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.fix-padding {
    position: relative;
    bottom: 210px;
}

.my-hr {
    border: 2px solid rgb(250, 32, 105);
    margin: 0 auto;
    opacity: 1;
}

.h1logo {
    display: block;
    width: 400px;
    position: relative;
    margin: 0 auto;
}

h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' !important;
}

h1 b {
    font-size: 55px !important;
}


/* First section */

/* Second section */

#chisiamo {
    background-color: rgb(61, 0, 61);
    position: relative;
    bottom: 210px;
}

.whiteText{
    color: #fff;
}

.pchisiamo {
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins'
}

.myhr2{
    border: 2px solid rgb(250, 32, 105);
    margin: 0 auto;
    opacity: 1;
}

.pinkText{
    color: rgb(250, 32, 105);
    font-size: large;
}

.myboldtext {
    font-family: 'impact', sans-serif !important;
    font-weight: 500 !important;
    font-size: 50px;
}

@media screen and (max-width: 575px) {
    .myhr2{
        margin : 0 25%;
    }
}

.myButtonText {
    color: rgb(61, 0, 61);
}

.myButton {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 50px;
  opacity: 0;
}

.myButton:hover {
    background-color: rgb(250, 32, 105);
    color: #fff;
    transition: all 0.3s ease;
}

.myButton:hover .myButtonText {
    color: #fff;
}

button p.myboldtext {
    position: relative;
    margin: auto auto;
}

@media screen and (max-width: 992px) {
  button p.myboldtext {
    font-size: 30px !important;
    position: relative;
}
}

@media screen and (max-width: 768px) {
  button p.myboldtext {
    font-size: 25px !important;
    position: relative;
}
}

@media screen and (max-width: 575px) {
  button p.myboldtext {
    font-size: 50px !important;
    position: relative;
}
}


/* Second section */

/* Third section */

.fix-gap {
    position: relative;
    bottom: 210px;
}

.imgSlider {
    width: 1920px;
    height: 800px;
    object-fit: cover;
}

.mySlides {
    display: none;
    animation-name: fadeIn;
    animation-duration: 2.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

#myCarousel{
    width: 1920px;
    height: 800px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s ease-in-out;

}

.logoCarousel{
    height: 150px;
    position: relative;
    margin: auto auto;
    top: 180px;
}

.carouselButton{
    position: relative;
    margin: auto auto;
    top: 220px;
    border-radius: 20px;
    width: 250px;
    height: 70px;
    background-color: transparent;
    border: #fff solid 2px;
}

.carouselButton:hover {
    background-color: #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.carouselButton:hover .textCarousel {
    transition: all 0.3s ease;
    color: rgb(250, 32, 105);
}

.textCarousel{
    position: relative;
    margin: auto auto;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: 5px;
    bottom: 5px;
}

.myboldtextCarousel{
    font-family: 'impact', sans-serif !important;
    font-weight: 500 !important;
    font-size: 50px !important;
}

@media screen and (max-width: 540px) {
    .logoCarousel{
        height: 100px;
        position: relative;
        margin: auto auto;
        top: 180px;
    }

    .myboldtextCarousel{
        font-family: 'impact', sans-serif !important;
        font-weight: 500 !important;
        font-size: 30px !important;
        top: 2px
    }
}

/* Third section */

/* Fourth section */
.card {
    box-shadow: 0 4px 8px 0 rgb(250, 32, 105);
    max-width: 400px;
    margin: auto;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
  }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgb(250, 32, 105);
        transform: scale(1.06);
        transition: all 0.3s ease;
    }

    h4 {
        font-size: 30px !important;
        font-weight: 600 !important;
        letter-spacing: 1px !important;
        margin-bottom: 8px !important;
        color: rgb(250, 32, 105);
    }

    .room {
        font-size: 14px !important;
        color: black !important;
        margin-bottom: 16px !important;
        font-weight: 600 !important;
        font-style: italic;
    }

  .poster {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .location {
    font-size: 14px;
    color: gray;
    margin-bottom: 16px;
  }

  .dates {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(61, 0, 61);
    margin-bottom: 16px;
}

  #eventi{
    background-color: rgb(61, 0, 61);
  }

  .pEvents{
    color: rgb(250, 32, 105);
    font-size: 60px;
    font-weight: 500;
    font-family: 'Poppins';
    letter-spacing: 5px;
    margin: 50px 0;
  }
/* Fourth section */